& h3, h4{
  font-family: Chakra Petch;
}

.pokemon-image{
  display:flex;

}
.pokemon-imageBack{
  transform: scaleX(-1);
  display:flex;
}

.pokemonfigure{
  width: 15em;
  height: 13em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column wrap;
  border-radius: 5%;
  background-color: rgba(154, 141, 136, 0.56);
  border: 5px groove rgb(130, 120, 117);
}

.pokemonfigure:hover{
 transform: scale(1.05);
}

.pokemonfigure img{
  height: 7em;
}

.class-container{
  margin: 4px 0 4px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-content: center;

}
h3{
  font-size: 18px;
  font-weight: 700;
}

h4 {
    width: 4rem;
    font-weight: 600;
    font-size: 12px;
    padding: 2px 4px;
    margin: 2px 2px 2px 2px;
    color: rgb(248, 242, 242);
    display: flex;
    align-items: center;
  justify-content: center;
    
}

span:hover{
  transform: scale(1.2)
}

.material-symbols-outlined{
  color: rgb(248, 242, 242);

}

.like {
  color: rgb(195, 5, 5);
}

#type-one{
  border-radius: 10%;
  border: 1px solid rgb(42, 38, 38);
}

.grass {
  background-color: #289315;

}

.bug {
  background-color: #75a21c;
}

.dark {
  background-color: #372a4d;
}
.dragon {
  background-color: #0a6dc4;
}

.electric {
  background-color: #dfa718;
}

.fairy {
  background-color: #d72c81;
}

.fighting {
  background-color: #ce4068;
}

.fire {
  background-color: #d3540a;
}

.flying {
  background-color: #4f9fef;
}

.ghost {
  background-color: #5367a2;
}


.ground {
  background-color: #6e3f27;
}

.ice {
  background-color: #3ba796;
}

.normal {
  background-color: #5e8cb5;
}


.poison {
  background-color: #8326ae;

}

.psychic {
  background-color: #c037de;

}

.rock {
  background-color: #85795a;
 
}


.steel {
  background-color: #3a9abc;

}

.water {
  background-color: #4098ef;

}
