.mole-container{
    width: 21em;
    height: 21em;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border: 4px solid rgb(149, 149, 143);
}

.square{
    width: 7em;
    height: 7em;
    border: 1px solid #28620D;
    position: relative;
    background: url("https://res.cloudinary.com/daxddugwt/image/upload/v1697558172/pokemon_grass_ewelyy.jpg");
    z-index: 0;
}

.square::after {
    /* display: block; */
    background: url("https://res.cloudinary.com/daxddugwt/image/upload/v1697558051/tumblr_2a895bfd7bea8771a3555ce38663cdcb_197c0ad7_1280-removebg-preview_1_qgkr3e.png")
      bottom center no-repeat;
    background-size: contain;
    content: "";
    width: 7em;
    height: 7em;
    /* width: 100%;
    height: 90px; */
    position: absolute;
    z-index: 1;
    /* display: flex;
    justify-content: end;
    justify-items: end; */
    /* bottom: -14px; */
  }

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.feedback{
    width: 30em;
    height: 5em;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 3em 0 1em;
}

.atrapalo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#mole-game{
    z-index: 2;
    position: absolute;
}


#mole-game:hover{
    cursor: crosshair;
}





