.mole-container{
    width: 24em;
    height: 24em;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr 1fr 1fr;
    border: 4px solid rgb(255, 255, 255);
    background: url("https://res.cloudinary.com/daxddugwt/image/upload/v1697558172/pokemon_grass_ewelyy.jpg");
    z-index: 0;
}

#start-button{
    position: absolute;
   top: 50vh;
    width: 15em;
    height: 3em;
    font-size: 23px;
    font-weight: 400;
    font-family: 'Pixelify Sans', cursive;
    background-color: rgba(78, 75, 67, 0.742);
    color:rgb(237, 233, 219);
    border: outset 3px;
}

.square{
    width: 8em;
    height: 8em;
    border: 1px solid #28620D;
    position: relative;
    background: url("https://res.cloudinary.com/daxddugwt/image/upload/v1697558172/pokemon_grass_ewelyy.jpg");
    z-index: 0;
}

.square::after {
    /* display: block; */
    background: url("https://res.cloudinary.com/daxddugwt/image/upload/v1697558051/tumblr_2a895bfd7bea8771a3555ce38663cdcb_197c0ad7_1280-removebg-preview_1_qgkr3e.png")
      bottom center no-repeat;
    background-size: contain;
    content: "";
    width: 8em;
    height: 8em;
    /* width: 100%;
    height: 90px; */
    position: absolute;
    z-index: 1;
    /* display: flex;
    justify-content: end;
    justify-items: end; */
    /* bottom: -14px; */
  }

.game{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.feedback{
    width: 24em;
    height: 7em;
    display: flex;
    align-items: center;
    justify-content: space-between; 
    padding: 0 3em 0 1em;
}

.atrapalo{
    display: flex;
    align-items: center;
    justify-content: center;
}

#mole-game{
    z-index: 2;
    position: absolute;
}


#mole-game:hover{
    cursor: crosshair;
}

.winner-mole{
    margin: 1em;
    padding: 0.5em;
    display: flex;
    flex-flow: row;
    width: 21em;
    height: 8em;
    background-color: rgba(29, 29, 29, 0.318);
    border: dashed 3px rgb(70, 70, 66);
}

.diglet-after{
    width: 8em;
    height: 8em;
    padding: 0 0 1em 0;
}

.h3-diglet{
padding: 1.5em 0 0 1em;
    font-size: 20px;
    font-weight: 500;
    color: rgb(245, 240, 233)
}



.start-button{
    grid-column: 2/3
}




@media (min-width: 880px) and (max-width: 1280px) {
  

}  

@media (min-width: 743px) and (max-width: 880px){
 
}



@media (min-width: 481px) and (max-width: 743px) {
  
    .mole-container{
        width: 21em;
        height: 21em;
    }

    .square{
        width: 7em;
        height: 7em;
    }
    .square::after {
        width: 7em;
        height: 7em;
    }

    .feedback{
        width: 18em;
        height: 4em;
    }
    .winner-mole{
        margin: 1em;
        padding: 0.5em;
        width: 18em;
        height: 7em;
    }
    .diglet-after{
        width: 6em;
        height: 6em;
    }
    
    .h3-diglet{
        font-size: 18px;
        font-weight: 500;
    }
    #start-button{
        width: 8em;
        height: 3em;
        font-size: 20px;
        font-weight: 400;
    }

}

@media (min-width: 300px) and (max-width: 480px) {

    .mole-container{
        width: 18em;
        height: 18em;
    }

    .square{
        width: 6em;
        height: 6em;
    }
    .square::after {
        width: 6em;
        height: 6em;
    }

    .feedback{
        width: 20em;
        height: 4em;
    }
    .winner-mole{
        margin: 1em;
        padding: 0.5em;
        width: 15em;
        height: 6em;
    }
    .diglet-after{
        width: 5em;
        height: 5em;
    }
    
    .h3-diglet{
        font-size: 15px;
        font-weight: 500;
    }
    #start-button{
        width: 8em;
        height: 3em;
        font-size: 20px;
        font-weight: 400;
}
}

#time{
    padding: 0 0 0 0.5em;
    color: red;
    font-weight: 600;
}


#score{
    padding: 0 0 0 0.5em;
    color: rgb(0, 26, 255);
    font-weight: 600;
}