.game-container{
    width: 30em;
    height: 37em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
#board {
    padding: 0 2em 2em 2em;
    display: grid;
    align-content: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 5em 5em 5em 5em 5em;
    /* grid-template-columns: repeat(
        auto-fit, 
        minmax(7em,1fr)
    ); */
    width: 30em;
    height: 35em;
}

& .front-image, 
  .back-image{
    position: absolute;
    border-radius: 15%;
  }

  .card {
    position: relative;
    border-radius: 20%;
  }



/* .back-image{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 15px;
    border-radius: 10px;
    -webkit-box-shadow: 9px 8px 3px -6px rgba(0,0,0,0.65);
    -moz-box-shadow: 9px 8px 3px -6px rgba(0,0,0,0.65);
    box-shadow: 9px 8px 3px -6px rgba(0,0,0,0.65);

} */


.front-image{
  width: 4.2rem;
    height: 7.8rem;
    margin: 2px;
    border-radius: 10px;
}

&
  .back-image,
.card {

    width: 4.5rem;
    height: 8rem;
    margin: 2px;
    /* position: relative; */
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    /* max-width: 5em;
    margin: 2.5px;
    border-radius: 5%;
    -webkit-box-shadow: 9px 8px 3px -6px rgba(0,0,0,0.65);
    -moz-box-shadow: 9px 8px 3px -6px rgba(0,0,0,0.65);
    box-shadow: 9px 8px 3px -6px rgba(0,0,0,0.65); */
}

.card:hover{
    transform: scale(0.97)
}

/* img{
    width: 15px;
    height: 15px;
} */

.oculto{
  display: none;
}