footer{
  bottom: 0;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: center;
  color: black;
  background-color: black;
  align-items: center;
  -webkit-box-shadow: -1px -5px 26px -1px rgba(0,0,0,0.1);
-moz-box-shadow: -1px -5px 26px -1px rgba(0,0,0,0.1);
box-shadow: -1px -5px 26px -1px rgba(0,0,0,0.1);
}

.footer-container{
  color: white;

}
