#filterButton {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 90vw;
  margin: 3rem 0 1rem 0;
}

.buttonFilter {
  font-family: Chakra Petch;
  color: rgb(248, 242, 242);
  font-weight: 600;
  border-radius: 10%;
  padding: 2px 4px;
  margin: 2px 2px 2px 2px;
  width: 5rem;
  border-radius: 5px;
  cursor: pointer;
}
