@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&display=swap');


#header-id{
  position: fixed;
  width: 100vw;
  height: 15vh;
  background-color: #DE2A40;
  display: flex;
  align-items: center;
  justify-content: space-between;
  -webkit-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.66);
  -moz-box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.66);
  box-shadow: 0px 4px 5px -3px rgba(0,0,0,0.66);
  z-index: 2;
}
div #logo{
  height: 90px;
  margin: 0 0.5em 0 0.5em;
}

h1{
  font-family: 'Pixelify Sans', cursive;
  font-size: 5em;
}

#pokedex-logo{
  display: flex;
  align-items: center;
}

  nav ul{
    list-style: none;
    display: flex;
    flex-wrap: row wrap;
    font-size: 17px;
    gap: 0.5rem;
    margin: 1rem;
  }
  
  .linav{
    width: 150px;
    text-align: center;
    font-family: 'Pixelify Sans', cursive;
    font-size: 1.2em;
  }
.linav:hover{
  transform: scale(1.1);
  cursor: pointer;
}
  .linav:hover::before{
    content: "➤  "
  }
